<form id="user" method="post">
<div class="formwrapper">
			<hr>
					<h3>
						Create User
					</h3>
					<hr>
<section>
			<input type="text" name="firstName" id="fname" placeholder="first name" autocomplete="off" tabindex="1" class="txtinput" required>
			<input type="text" name="lastName" id="lname" placeholder="last name" autocomplete="off" tabindex="2" class="txtinput">
			<input type="text" name="phoneNumber" id="phno" placeholder="Phone number?(optional)" tabindex="3" class="txtinput" required>
		
			<input type="text" name="email" id="email" placeholder="Your e-mail address" autocomplete="off" tabindex="4" class="txtinput" required>
		

		
			
			<textarea name="details" id="details" placeholder="Details.." tabindex="5" class="txtblock"></textarea>
			<div style="text-align:right;">
			<button type="reset" class="btn btn-primary">Reset</button>
			<button  class="btn btn-success" tabindex="6">Save</button>
			</div>
			</section>
			</div>
			</form>